@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&family=Poppins:wght@200;300;500;600&display=swap');

/* SETTINGS */
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Inter', 'Poppins', sans-serif;
}

.App {
  text-align: center;
  padding: 0 5%;
}

/* PROFILE HEADER */
.App header, header h3{
  margin: 30px 0;
}

header img{
  width: 88px;
  height: 88px;
  border-radius: 50%;
}

header p{
  display: none;
}

/* LINKS */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 0 3%;
}

main .link_container{
  padding: 24px 0;
  width: 100%;
  font-weight: 300;
  background-color: #EAECF0;
  border-radius: 8px;
}

main a{
  color: #101828;
  text-decoration: none;
}

/* SOCIAL SECTION*/
.App section{
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 24px 0;
}

/* CONTACT PAGE */
.contact_page{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 7% 15%;
  text-align: left;
  align-items: flex-start;
}

.contact_page p{
  margin: 15px 0;
}

.contact_page p, .contact_page .agreement{
  color: #667085;
  font-weight: 300;
}

.contact_page label{
  color: #667085;
}

form{
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.contact_page .multiple{
  display: flex;
}

.contact_page .multiple .input-group{
  width: 100%;
}

.contact_page input[type=text], 
.contact_page input[type=email], 
.contact_page input[type=submit], 
textarea{
  min-width: 100%;
  padding: 10px;
  font-weight: 300;
  color: #667085;
  border-radius: 5px;
  outline: none;
  border: 1px solid #667085;
}

.contact_page textarea{
  height: 100px;
  resize: none;
}

.contact_page input[type=submit]{
  background-color: #037BFE;
  color: #fff;
  border: none;
  outline: none;
}

.contact_page .multiple{
  display: flex;
  column-gap: 10px;
}


/* FOOTER */
footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #EAECF0;
  padding-top: 24px;
  margin: 30px 0 20px 0;
}

footer p{
  color: #667085;
  font-size: 12px;
}

footer .red{
  color: red;
  font-size: 26px;
  padding: 2px;
}

/* Mobile */
@media screen and (max-width:414px) {
  body{
    font-size: 12px;
  }

  .App{
    padding: 0 3%;
  }

  main{
    padding: 0;
  }

  footer{
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    margin-top: 50px;
  }
}




